<div class="section-heading">
    <h1 class="title wow fadeInDown" data-wow-delay=".3s">Your Favorites</h1>
    <p class="wow fadeInDown" data-wow-delay=".5s">
</div>
  <div class="container customContainer">
    <div class="row">
      <div ng-controller="favoriteCtrl" ng-init="setup()" class="row">
        <datalist id="title">
          <option ng-repeat="favorite_movie in favorite_movies">{{ favorite_movie.title }}</option>
        </datalist>
        <input type="text" ng-model="filterTitle" list="title">
        <button type="button" name="button" ng-click="toggleOrder('title')"> Order by Title </button>
        <button type="button" name="button" ng-click="toggleOrder('date')"> Order by Date </button>
        <div ng-repeat="favorite_movie in favorite_movies | filter: {title: filterTitle} | orderBy:orderAttribute:isReverse">
          <div class="col-sm-3 col-xs-12">
            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
              <br>
                <div class="img-wrapper">
                  <img ng-src="{{ favorite_movie.poster }}" class="img-responsive favorite" alt="this is a title" >
                   <div class="overlay">
                      <div class="buttons">
                          <a rel="gallery" class="fancybox" href="/movies/{{favorite_movie.movie_id}}">Details</a>
                          <a target="_blank" ng-click="favorite(favorite_movie)" ng-class="{'fa-heart': favorite_movie.favorite, 'fa-heart-o': !favorite_movie.favorite}" class="fa fa-lg pull-right heart" aria-hidden="true"></a>
                      </div>
                  </div>
              </div>
              <figcaption>
                <h4>
                  <a>{{ favorite_movie.title }} </a>
                </h4>
                <div ng-if="favorite_movie.favoriteMessage" class="alert alert-success favorite-alert" role="alert">{{favorite_movie.favoriteMessage}}</div>
                <h5>By: {{ favorite_movie.director }}</h5>
                <h5>Genre: {{ favorite_movie.genre }}</h5>
            </figcaption>
            </figure>
          </div>

      </div>
    </div>
<!--
  <div class="container">
    <div class="row">
      <% @favorite_movies.each do |favorite_movie| %>
        <div class="col-sm-5">
          <div class="movie_single">
            <ul>
              <h2 class="movie_header"><a href="/movies/">Favorite1</h2>
              <li> Name: <%= favorite_movie.movie.title%></li>
              <li>
              <li>Favorited at: <%= favorite_movie.favorited_at %></li>
            </ul>
            <br>
          </div>
        </div>
      <% end %>
      </div>
   </div> -->
