// Place all the styles related to the Favorite_movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customContainer {
  padding-left: 0px;
  padding-right: 0px;

}
.img-responsive {
  height: 390px;
}
