<h1> Edit review for <%= @movie.title %></h1>

  <%= form_tag "/reviews/#{@reviews.id}", method: :patch do %>
    <%= render 'form' %>
  <%= submit_tag "Edit your review", class: 'btn btn-primary' %>
<% end %>
